.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebarFriendList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.sidebarFriend {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
